# Ambiente de Desenvolvimento
# SEMPRE COLOCAR O .ENV NO GIT IGNORE, SO DEIXAREI SUBIR O .ENV PARA O GITHUB PARA FACILITAR O USO DO PROJETO !
# .env

# Codigo de Produção
dist/
public/js

# Dependências
node_modules/